/* Global Reset 

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.instructors{
  padding: 25px;
}
/* Header Styles */
header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

/* Main Content Styles */
}

/* Section Styles */
section {
  margin-bottom: 30px;
}

/* Typography Styles */
p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

ul, ol {
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

blockquote {
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-left: 5px solid #ccc;
}

/* Link Styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer Styles */

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1, h2, h3 {
    font-weight: 600;
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
.op2{
  height: 50px;
}
.op,
.op1{
  width: 40vw;
}
