.class-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95vw;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.class-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  position: relative;
  left: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.datetime {
  font-size: 16px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 720px) {
  .title {
    font-size: 28px;
  }

  .datetime {
    font-size: 18px;
  }

  .description {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .datetime {
    font-size: 20px;
  }

  .description {
    font-size: 22px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 36px;
  }

  .datetime {
    font-size: 22px;
  }

  .description {
    font-size: 24px;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 40px;
  }

  .datetime {
    font-size: 24px;
  }

  .description {
    font-size: 26px;
  }
}
